@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --navcolor: #1A1A1B;
  --yellow: #ffd700;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
.bgblack{
  background: #1A1A1B;
}
.bgyellow{
  background: #ffd700;
}
.bggreen{
  background: #D0FF71;
}
.font-bebas {
  font-family: var(--font-bebas);
}